/*
här börjar vår css
*/
body{
	font-size: 100%;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.wrapper{
	width: 800px;
	margin: 0 auto;
}
	.wrapper::after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

#container{
	margin: 50px 0;
}

#header {
	margin-bottom: 40px;
}

#header header{
	width: 50%;
	float:left;
	font-size: 350%;
}

#header nav {
	float: right;
}
#header nav a{
	float: left;
}


.fancyborder {
	background: #555 url("../img/bg.png");
	padding: 40px 20px;
	font-family: Georgia, serif;
	color: rgb(233, 233, 233);
}
	.fancyborder p {
		font-size: 130%;
		margin: 0 0 20px;
		padding: 5px 0 0;
	}

.alignment{
	width: 400px;
	float: left;
	margin: 15px 0 0;
}

form.signup input[type="text"], form.signup input[type="email"], form.signup input[type="password"]{
	clear:left;
	float: left;
	font-size: 100%;
	padding: 5px;
	border-radius: 3px;
	width: 295px;
	margin: 0 5px 5px;
}
form.signup input.name {
	width: 135px;
	clear: none;
}

