/* ==========================================
   TYPSNITT!
   ==========================================*/
@import url(http://fonts.googleapis.com/css?family=Rambla);



/* ==========================================
	BODY och liknande
   ==========================================*/
body{
	font-size: 100%;
	font-family: Helvetica, Arial, 'freesans', sans-serif;
	background: url('../img/light.png');
}

.wrapper{
	width: 800px;
	margin: 0 auto 20px;
	padding: 0;
}

.wrapper-50{
	width:  390px;
}
/* clear fix för wrapper */
	.wrapper::after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

.contentwrapper {
	background: #fff;
}

.wrapper p, .wrapper ul, .wrapper h1, .wrapper h2{
	padding: 0 20px;
	margin: 0 0 10px;
}

.lotsoftext {
	padding-top: 10px;
}

#container{
	margin: 50px 0;
}

/* ==========================================
   LÄNK
   ==========================================*/
a {
	color: #000;
	text-decoration: none;
}

/* ==========================================
   MISC
   ==========================================*/

.fright {
	float: right;
}
.fleft {
	float: left;
}
.hide {
	display: none;
}
.clearfix::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* ==========================================
   Paragraphs
   ==========================================*/

p.error, p.hurra, p.ingress, ul.error {
	padding: 10px 0; margin: 0 20px 10px;
	font-family: 'Rambla', sans-serif;
	font-size: 105%;
}
	p.error em, p.hurra em, p.ingress em{
		font-style: normal;
		font-weight: bold;
	}
ul.error {
	list-style: none;
}
p.error, ul.error {
	background: #DC6060;
	border: 2px solid #A60000;
	color: #fff;
	padding: 10px;
}
p.hurra {
	background: #fff9d7;
	border: 2px solid #e2c822;
	color: gray;
	padding: 10px;
}

p, ul{
	line-height: 140%;
}

.lotsoftext p {
	padding: 10px 20px;
	font: 110% Georgia, Times, serif;
	line-height: 160%;
}

/* ==========================================
   HEADER
   ==========================================*/

#header {
	margin-bottom: 40px;
	font-family: 'Rambla', sans-serif;
}

#header header{
	width: 50%;
	float:left;
	font-size: 350%;
}
	#header header h1 {
		padding:0;
	}

#header nav {
	float: right;
}
#header nav a{
	float: left;
	font-size: 140%;
	padding: 10px;
	margin-left: 10px;
	color: #9B9999;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
#header nav a:hover{
	color: #fff;
	background: #409918;
}

/* ==========================================
   CONTENT
   ==========================================*/
#content {
}
	#content form {
		padding: 10px 20px;
	}

#content h1 {
	padding: 15px 20px;
	font-size: 140%;
	background: #555 url('../img/dark.png');
	color: #fff;
	font-family: 'Rambla', sans-serif;
}
	#content h1 span {
		clear: both;
		padding: 10px 0 0;
		font-size: 70%;
	}

/* ==========================================
   Fancy-pants
   ==========================================*/
.fancyborder {
	background: #555 url("../img/dark.png");
	padding: 40px 20px 20px;
	font-family: Georgia, serif;
	color: rgb(233, 233, 233);
}
	.fancyborder.compact{
		padding: 20px 10px 0;
	}
.fancyborder p {
	font-size: 130%;
	margin: 0 0 20px;
	padding: 5px 20px 0;
}
	.fancyborder.compact p{
		margin: 0 0 10px;
	}

.fancyborder form.signup {
	float: right;
	padding: 0; margin: 0;
}

.fancyborder .wrapper {
	margin: 0 auto;
}

.alignment{
	width: 400px;
	float: left;
}


/* ==========================================
   FORM
   ==========================================*/
input{
	font-size: 100%;
	border-radius: 3px;
}
input[type="text"], input[type="email"], input[type="password"] {
	margin: 0 5px 5px 0;
	padding: 5px;
}
input[type="submit"] {
	background: #4099ff;
	padding: 5px 20px;
	color: #fff;
	border: 2px solid #1559a6;
	margin: 0 5px 0;
}

.flik a:hover{
	color: #fff;
	background: #409918;
}
.flik a{
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	float: left;
	margin: 0 30px 25px 0;
	padding: 10px;

}

.flik a.focus{
	background-color: #999;

}

.byte{
	background-color: black;
}

/* ==========================================
   Signup-form
   ==========================================*/

form.signup input[type="text"], form.signup input[type="email"], form.signup input[type="password"]{
	clear: left;
	float: left;
	width: 329px;
}
form.signup input.name {
	width: 152px;
	clear: none;
	margin-right: 10px;
}
form.signup input[type="submit"] {
	margin: 0 9px 0;
	float: right;
	padding: 8px 20px;
}
form.signup a {
	color: #D1D1D1;
	margin: 0 5px 5px;
	font-family: 'Rambla', sans-serif;
	padding: 10px 5px;
	clear: left;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
	form.signup a:hover {
		color: #fff;
		padding-left: 10px;
	}
form.signup {
	width: 352px;
}
	#content form.signup a {
		color: #888;
	}
		#content form.signup a:hover {
			color: #504C4C;
		}

