/*
här börjar vår css
*/
body{
}

.wrapper{
	width: 800px;
	margin: 0 auto;
}

#container{
	margin: 50px 0;
}


#header header{
	height: 150px;
}

#footer footer{
	height: 100px;
}

#block{ 
	background-image:url("../img/bg.png");
	height: 250px;
}

#content{
	height: 300px;
}

.alignment{
	width: 400px;
	float: left;
}

input{
	clear:left;
	float: left;
}

