/*
här börjar vår css
*/
body{
	font-size: 100%;
	background-color: #F1FBED;
	font-family: Georgia;
}

.wrapper{
	width: 800px;
	margin: 0 auto;
}
	.wrapper::after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

#container{
	margin: 50px 0;

}


#header header{
	height: 150px;
}

#footer footer{
}

<<<<<<< HEAD
#block{
	background: #555 url("../img/bg.png");
	padding: 40px 20px;
}

#content{
}

.alignment{
	width: 400px;
	float: left;
	margin: 15px 0 0;
}

form.signup input[type="text"], form.signup input[type="email"], form.signup input[type="password"]{
	clear:left;
	float: left;
	font-size: 100%;
	padding: 5px;
	border-radius: 3px;
	width: 295px;
	margin: 5px;
}
form.signup input.name {
	width: 135px;
	clear: none;
}

body, label, input, textarea, select, button {
	font-family: "Helvetica Neue",Arial,sans-serif;
}

h1{
	font-size: 35pt;
}

a{
	color: #000;

}
